.header {
	position:absolute;
}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { 

	#bggallery {
		width:100%; 
		height:100%; 
		position:absolute;
		background-color:black;
		overflow:hidden;
		z-index:0;
	}

	.homemenu {
		position:fixed;
		bottom:40px;
		left:30px;
		width:300px;
		z-index:1;
	}

	.background {
		position:absolute;
		width:100%;
		height:100%;
		background-color:#353535;
		overflow:auto;
	}

														/* --------- TYPES --------- */	

	.page {
		width:100%;
		height:100%;
	}

	.types {
		overflow:auto;
		margin: 11px 0 0 14px;
	}

	.typelist {
		float:left;
		text-align:left;
		margin:5px;
	}

	.typelist a img {
		display:inline;
		margin:3px;
		width:100px;
		height:100px;
		border:1px solid black;
	}

	.typelabel {
		text-align:center;
	}

	.typelabel a:link, .typelabel a:visited, .typelabel a:hover, .typelabel a:active {
		color:#C7C7C7;
		text-decoration:none;
		text-shadow: 1px 1px 1px black;
		font-family:arial;
		font-size:16px;
		text-align:center;
	}

	.types p {
		text-align:left;
		padding:0;
		margin: 5px 0 5px 10px;
	}

	.types p a:link, .types p a:visited, .types p a:hover, .types p a:active {
		color:#E1E1E1;
		letter-spacing:7px;
		text-shadow: 1px 1px 1px black;
		font-family:verdana;
		font-size:36px;
		text-decoration:none;
		font-weight:normal;
	}

	#defensive p, #aggressive p, #reproductive p, #automimicry p {
		margin: 20px 30px 0 30px;
		line-height:32px;
	}

												/* FORMATTING FOR TYPES OF MIMICRY PAGES */

	.infopane {
		overflow:auto;
		width:100%;
		height:400px;
		padding-top: 5px;	
	}

	.infopane p {
		color: #E1E1E1;
		font-family:'Josefin Sans';
		font-size:24px;
		padding: 0 10px 0 10px;
		text-shadow: none;
	}

	.gallerypane {
		display:block;
		width:100%;
		height:500px;
		padding-bottom:5px;
	}

	.speciesgallery {
		display:block;
		width:100%;
	}

	.speciesgallery ul {
		list-style:none;
	}

	.speciesgallery li {
		display:inline;
		padding: 0 5px 0 5px;
	}

	.speciesgallery ul li img {
		border: 1px solid black;
		width:100px;
		height:100px;
	}

	.speciesgallery p {
		color:#E1E1E1;
		letter-spacing:7px;
		text-shadow: 1px 1px 1px black;
		font-family:verdana;
		font-size:36px;
		padding:0 0 0 10px;
		margin:0;
	}



}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	
	.page {
		width:100%;
		height:100%;
	}
	
	#bggallery {
		width:100%; 
		height:100%; 
		position:absolute;
		background-color:black;
		overflow:hidden;
		z-index:0;
	}

	.homemenu {
		position:fixed;
		bottom:40px;
		left:30px;
		width:300px;
		z-index:1;
	}

	.background {
		position:absolute;
		width:100%;
		height:100%;
		background-color:#353535;
		overflow:auto;
	}

														/* --------- TYPES --------- */	

	.types {
		overflow:auto;
		margin: 11px 0 0 14px;
		width:400px;
	}

	.typelist {
		float:left;
		text-align:left;
		margin:5px;
		text-align:center;
	}

	.typelist a img {
		display:inline;
		margin:3px;
		width:100px;
		height:100px;
		border:1px solid black;
	}

	.typelabel {
		text-align:center;
	}

	.typelabel a:link, .typelabel a:visited, .typelabel a:hover, .typelabel a:active {
		color:#C7C7C7;
		text-decoration:none;
		text-shadow: 1px 1px 1px black;
		font-family:arial;
		font-size:16px;
		text-align:center;
	}

	.types p {
		text-align:left;
		padding:0;
		margin: 5px 0 5px 10px;
	}

	.types p a:link, .types p a:visited, .types p a:hover, .types p a:active {
		color:#E1E1E1;
		letter-spacing:7px;
		text-shadow: 1px 1px 1px black;
		font-family:verdana;
		font-size:36px;
		text-decoration:none;
		font-weight:normal;
	}
	
	.typesright {
		float:right;
		margin-right: 8%;
	}
	
	.typesleft {
		float:left;
		margin-left:12%;
	}
	

	#defensive p, #aggressive p, #reproductive p, #automimicry p {
		margin: 20px 30px 0 30px;
		line-height:32px;
	}

												/* FORMATTING FOR TYPES OF MIMICRY PAGES */

	.infopane {
		width:400px;
		height:100%;
		overflow:scroll;		
		position:absolute;
		right:0;
		top:0;
	}

	.infopane p {

		color: #E1E1E1;
		font-family:'Josefin Sans';
		font-size:24px;
		text-shadow: none;		
	}

	.gallerypane {
		padding-bottom:5px;
		width:600px;
		height:100%;
	}



	.speciesgallery {
		display:block;
		width:100%;
	}

	.speciesgallery ul {
		list-style:none;
	}

	.speciesgallery li {
		display:inline;
		padding: 0 5px 0 5px;
	}

	.speciesgallery ul li img {
		border: 1px solid black;
		width:100px;
		height:100px;
	}

	.speciesgallery p {
		color:#E1E1E1;
		letter-spacing:7px;
		text-shadow: 1px 1px 1px black;
		font-family:verdana;
		font-size:36px;
		padding:0 0 0 10px;
		margin:0;
	}



}